page-chat-room {

    ion-item ion-list{
        padding : 0!important; 
    }

    .item-block{
        padding : 0!important;
    }

    #footer{
        display:flex;
        flex-direction:row;
    }
    div#footer div.elem:first-child{
        flex-grow:1;
    }
}
